@font-face {
  font-family: "Alegreya Sans";
  src: url("assets/fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf") format("TrueType");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Alegreya Sans";
  src: url("assets/fonts/Alegreya_Sans/AlegreyaSans-Bold.ttf") format("TrueType");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Andika";
  src: url("assets/fonts/Andika/Andika-Regular.ttf") format("TrueType");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Andika";
  src: url("assets/fonts/Andika/Andika-Bold.ttf") format("TrueType");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("assets/fonts/Josefin_Sans/static/JosefinSans-Regular.ttf") format("TrueType");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("assets/fonts/Josefin_Sans/static/JosefinSans-Bold.ttf") format("TrueType");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url("assets/fonts/Noto_Sans/static/NotoSans-Regular.ttf") format("TrueType");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url("assets/fonts/Noto_Sans/static/NotoSans-Bold.ttf") format("TrueType");
  font-weight: 700;
  font-style: normal;
}
/*Prefered*/
@font-face {
  font-family: "Rajdhani";
  src: url("assets/fonts/Rajdhani/Rajdhani-Regular.ttf") format("TrueType");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rajdhani";
  src: url("assets/fonts/Rajdhani/Rajdhani-Bold.ttf") format("TrueType");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("assets/fonts/Ubuntu_Condensed/UbuntuCondensed-Regular.ttf") format("TrueType");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Carlito";
  src: url("assets/fonts/Carlito/Carlito-Regular.ttf") format("TrueType");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Carlito";
  src: url("assets/fonts/Carlito/Carlito-Bold.ttf") format("TrueType");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "NanumGothic";
  src: url("assets/fonts/NanumGothic/NanumGothic-Regular.ttf") format("TrueType");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NanumGothic";
  src: url("assets/fonts/NanumGothic/NanumGothic-Bold.ttf") format("TrueType");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  src: url("assets/fonts/PTSans/PTSansNarrow-Regular.ttf") format("TrueType");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  src: url("assets/fonts/PTSans/PTSansNarrow-Bold.ttf") format("TrueType");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Sofia Sans";
  src: url("assets/fonts/Sofia_Sans/SofiaSansCondensed-Regular.ttf") format("TrueType");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sofia Sans";
  src: url("assets/fonts/Sofia_Sans/SofiaSansCondensed-Bold.ttf") format("TrueType");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Ysabeau";
  src: url("assets/fonts/Ysabeau/Ysabeau-Regular.ttf") format("TrueType");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ysabeau";
  src: url("assets/fonts/Ysabeau/Ysabeau-Bold.ttf") format("TrueType");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("assets/fonts/Roboto/static/RobotoMono-Regular.ttf") format("TrueType");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("assets/fonts/Roboto/static/RobotoMono-Bold.ttf") format("TrueType");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "ShareTechMono";
  src: url("assets/fonts/Share_Tech_Mono/ShareTechMono-Regular.ttf") format("TrueType");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Arsenal";
  src: url("assets/fonts/Arsenal_SC/ArsenalSC-Regular.ttf") format("TrueType");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Arsenal";
  src: url("assets/fonts/Arsenal_SC/ArsenalSC-Bold.ttf") format("TrueType");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "News";
  src: url("assets/fonts/News_Cycle/NewsCycle-Regular.ttf") format("TrueType");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "News";
  src: url("assets/fonts/News_Cycle/NewsCycle-Bold.ttf") format("TrueType");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("assets/fonts/Roboto_Condensed/static/RobotoCondensed-Regular.ttf") format("TrueType");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("assets/fonts/Roboto_Condensed/static/RobotoCondensed-Bold.ttf")  format("TrueType");
  font-weight: 700;
  font-style: normal;
}

