@font-face {
  font-family: "Roboto Condensed";
  src: url("assets/fonts/Roboto_Condensed/static/RobotoCondensed-Regular.ttf") format("TrueType");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("assets/fonts/Roboto_Condensed/static/RobotoCondensed-Bold.ttf") format("TrueType");
  font-weight: 700;
  font-style: normal;
}
